<div class="container">

  <div class="row">

    <div class="cart-example">

      <h1 id="cart">Cart</h1>

      <div class="first-example">
        <img src="images/Bag3.jpg" alt="" class="cart-image col-xs-3"> <h3 class="col-xs-3 cart-name">Purple Flower Bag</h3><h4 class="col-xs-2 cart-price">$89.99 (each)</h4><h5 class="col-xs-2"><input type="text" placeholder=1 class="cart-quantity"></h5><h5 class="x-symbol">X</h5>
      </div><br><br>

      <div class="second-example">
        <img src="images/Gloves3.jpg" alt="" class="cart-image col-xs-3"> <h3 class="col-xs-3 cart-name">French Mesh Gloves</h3><h4 class="col-xs-2 cart-price">$69.99 (each)</h4><h5 class="col-xs-2"><input type="text" placeholder=2 class="cart-quantity"></h5><h5 class="x-symbol">X</h5>
      </div>

      <div class="total">
        <h2 class="text-right">Subtotal:  <b>$229.97</b></h2>
      </div> 

      <div class="checkout text-right">
        <h3>Checkout with <img src="images/paypal.jpeg" alt="" class="paypal"></h3>
      </div> 

    </div><!-- cart-example div -->

    
  </div><!-- end of row div -->
</div><!-- end of container div -->