<div class="container">

  <div class="row">

    <h1 class="text-center"><u>About<span class="logoText">Frenchable</span></u></h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet asperiores commodi quia quis, ut nam earum iste totam quae repellendus culpa nostrum odit fugiat modi sunt, ipsam dolor labore vitae.<br><br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, numquam. Iusto, architecto corporis nihil voluptate, repudiandae labore odit, eaque, fugit velit ut illum nulla. Illum ipsam quia deserunt, sit hic?</h3>



      <div class="col-xs-6">
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore doloremque cumque. Accusantium quidem fuga, possimus, non nemo aliquid esse numquam repudiandae nisi totam vero laudantium ducimus consectetur nesciunt corporis.
          Ad assumenda, hic, natus et impedit, sapiente cum eum ipsa sint debitis, magni iusto tempora sit voluptatum? Eligendi aperiam repellat recusandae laudantium doloribus, optio. Temporibus architecto placeat amet minima voluptates.
        </h3>
      </div>

      <div class="col-xs-6 text-right">
        <img src="images/CompanyPhoto.jpg" alt="" class="companyPhoto">
      </div>

      <h3><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, enim sed unde doloribus laudantium. Sit assumenda adipisci excepturi quos laboriosam cupiditate nemo, facere, placeat aliquam, in fuga error aspernatur deserunt.</div>
        <div>Nostrum pariatur voluptatem consectetur, exercitationem necessitatibus facere expedita perspiciatis odit, incidunt repellendus quod blanditiis, sapiente ipsam et nobis nihil excepturi nulla modi soluta molestiae quis distinctio architecto. Sunt explicabo, amet.</div>
        <div>Cumque sequi fugiat aliquid rem maxime, eos itaque earum, nesciunt doloremque laudantium similique repellat quisquam, perspiciatis. Ratione fuga tenetur esse sunt soluta laborum. Consequuntur odio, minima voluptates eligendi illum officiis.</div></h3>

        <div class="col-xs-6 text-left">
          <img src="images/Office.jpg" alt="" class="companyPhoto">
        </div>

        <div class="col-xs-6 text-center">
          <h2><u>Contact Us</u></h2>
          <h3><u>Email</u>: customerservice@frenchable.com</h3>
          <h3><u>Phone</u>: 1-800-555-5555</h3>
          <h3>555 West Le France St.</h3>
          <h3>New York, NY, 45777</h3>
          <h3>USA</h3>
        </div>



      </div><!-- end of row div -->

</div><!-- end of container div -->