<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Frenchable</title>

  <link rel="icon" type="image/x-icon" href="images/frenchicon.ico"/> 

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="main.js" defer></script>
</head>

<body ng-app="frenchableApp">

  <div class="container">

    <div class="row">

      <!-- Logo text on the left side of page -->
      <div class="col-xs-4 text-left">
        <h1 class="logoText">Frenchable</h1>
        <h4 class="homeh4">Not only the French are able</h4>
      </div>

      <!-- Logo image on the center of page -->
      <div class="col-xs-4 text-center">
        <a ui-sref="home">
          <img src="images/FrenchableLogo.png" alt="" class="FrenchLogo">
        </a>
      </div>

      <!-- Logo icons on the right side of page -->
      <div class="col-xs-4 text-right">
        <img src="images/facebook.ico" alt="" class="icon">
        <img src="images/twitter.ico" alt="" class="icon">
        <img src="images/Instagram.ico" alt="" class="icon">
        <img src="images/pinterest.ico" alt="" class="icon">
        <img src="images/tumblr.ico" alt="" class="icon">
      </div>

      <!-- beggining buttons code -->
      <div class="btn-group btn-group-justified" role="group" aria-label="...">

        <div class="{{active}} btn-group" role="group">

          <a ui-sref="home"><button type="button" class="home btn btn-default" ng-click="active='home'">HOME<span class="glyphicon glyphicon-home"></span></button></a>
        </div>

        <div class="{{active}} btn-group" role="group">
          <a ui-sref="products"><button type="button" class="products btn btn-default" ng-click="active='products'">PRODUCTS<span class="glyphicon glyphicon-tag"></span></button></a>
        </div>

        <div class="{{active}} btn-group" role="group">
          <a ui-sref="cart"><button type="button" class="cart btn btn-default" ng-click="active='cart'">CART<span class="glyphicon glyphicon-shopping-cart"></span></button></a>
        </div>

        <div class="{{active}} btn-group" role="group">
          <a ui-sref="about"><button type="button" class="about btn btn-default" ng-click="active='about'">ABOUT<img src="images/frenchicon.ico" alt="" class="flag"></button></a>
        </div>

      </div><!-- end of btn-group div -->

    </div><!-- end of row div -->

  </div><!-- end of container div --> 

  <div ui-view></div><!-- this will put the ui-view on the bottom of the nav instead of the top -->

  <!-- bottom fixed navbar code -->
  <nav class="navbar navbar-default">

    <div class="container">

      <div class="row">

        <!-- breadcrumbs on bottom nav -->
        <div class="col-xs-4">
          <h4 class="breadCrumbs"><a href="">Home</a><a href="">Products</a><a href="">Cart</a><a href="">About</a></h4>
        </div>

        <!-- Logo on nav -->
        <div class="col-xs-4 text-center">
          <a ui-sref="home">
            <img src="images/FrenchableLogo.png" alt="" class="bottomLogo">
          </a>
        </div>

        <!-- Logo icons on the right side of bottom nav -->
        <div class="col-xs-4 text-right">
          <img src="images/facebook.ico" alt="" class="iconBottom">
          <img src="images/twitter.ico" alt="" class="iconBottom">
          <img src="images/Instagram.ico" alt="" class="iconBottom">
          <img src="images/pinterest.ico" alt="" class="iconBottom">
          <img src="images/tumblr.ico" alt="" class="iconBottom">
        </div>

      </div><!-- end of bottom-navbar row div -->
    </div><!-- end of bottom-navbar container div -->

  </nav>

</body>
</html>







