
<div class="container" ng-controller="frechableController">

  <div class="row">
    
    <h2 class="productsTitle text-center"><u>Hats</u></h2>
    
    <!-- begging of hat products div -->
    <div class="col-xs-4 productsDiv text-center" ng-repeat="hat in hats">

    <img src="{{hat.image}}" alt="" class="productsPic">
    
      <h4>{{hat.name}}</h4>
  
      <!-- hat products dropdown button -->
<div class="btn-group">
  <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4>
   Product Details</h4>
  </button>
  <ul class="dropdown-menu text-center">
    <li class="lidd"><a href="#">Price: {{hat.price}}</a></li>
    <li><a href="#">Add to Cart<span class="glyphicon glyphicon-shopping-cart"></span></a></li>
    <li><a href="#">Watchlist<span class="glyphicon glyphicon-eye-open"></span></a></li>
  </ul>
</div><!-- end of hat dropdown btn-group div -->

    </div><!-- end of hat products div -->


    <h2 class="productsTitle text-center"><u>Gloves<u></h2>

  <!-- begging of glove products div -->
    <div class="col-xs-4 productsDiv text-center" ng-repeat="glove in gloves">
      <img src="{{glove.image}}" alt="" class="productsPic">
      <h4>{{glove.name}}</h4>
      

            <!-- glove products dropdown button -->
<div class="btn-group">
  <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4>
   Product Details</h4>
  </button>
  <ul class="dropdown-menu text-center">
    <li class="lidd"><a href="#">Price: {{glove.price}}</a></li>
    <li><a href="#">Add to Cart<span class="glyphicon glyphicon-shopping-cart"></span></a></li>
    <li><a href="#">Watchlist<span class="glyphicon glyphicon-eye-open"></span></a></li>
  </ul>
</div><!-- end of glove dropdown btn-group div -->

    </div><!-- end of glove products div -->

    <h2 class="productsTitle text-center"><u>Bags<u></h2>

    <div class="col-xs-4 productsDiv text-center" ng-repeat="bag in bags">
      <img src="{{bag.image}}" alt="" class="productsPic">
      <h4>{{bag.name}}</h4>


            <!-- bag products dropdown button -->
<div class="btn-group">
  <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4>
   Product Details</h4>
  </button>
  <ul class="dropdown-menu text-center">
    <li class="lidd"><a href="#">Price: {{bag.price}}</a></li>
    <li><a href="#">Add to Cart<span class="glyphicon glyphicon-shopping-cart"></span></a></li>
    <li><a href="#">Watchlist<span class="glyphicon glyphicon-eye-open"></span></a></li>
  </ul>
</div><!-- end of bag dropdown btn-group div -->
     
    </div><!-- end of glove products div -->


  </div><!-- end of row div -->

</div><!-- end of container div -->
