@font-face {
font-family: 'Merkin Goo';
font-style: normal;
font-weight: normal;
src: local('Merkin Goo'), url('MERKING_.woff') format('woff');
}

@font-face {
font-family: 'Youthanasia Italic';
font-style: normal;
font-weight: normal;
src: local('Youthanasia Italic'), url('YOUTHANI.woff') format('woff');
}

.btn {
  margin-top: 5%;
}

.logoText {
  font-family: 'Merkin Goo';
  color: #FF005A;
}

.FrenchLogo {
  height: 70px;
  margin-top: 7%;
  border-radius: 20%;
}

.icon {
  height: 25px;
  margin-top: 18%;
  margin-right: 5%;
}

.homeh4 {
  font-family: 'Merkin Goo';
  color: #41AAF1;
}

.navbar {
  margin-right: 9%;
  margin-left: 9%;
}

.bottomLogo {
  height: 70px;
  border-radius: 20%;
  margin: 5px;
}

.breadCrumbs {
  margin-top: 10%;
  margin-left: 5%;
}

a:link {
  margin-right: 15%;

}

.iconBottom {
  height: 25px;
  margin-top: 8%;
  margin-right: 5%;
}

.homeImage {
  width: 100%;
}

.welcome {
  color: #41AAF1;
  font-family: 'Youthanasia Italic'
}

div.home .home,
div.products .products,
div.cart .cart,
div.about .about{
  background-color: #FF005A;
  outline:none;
}





