@font-face {
  font-family: 'Merkin Goo';
  font-style: normal;
  font-weight: normal;
  src: local('Merkin Goo'), url('MERKING_.woff') format('woff');
}

@font-face {
  font-family: 'Youthanasia Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Youthanasia Italic'), url('YOUTHANI.woff') format('woff');
}

body {
 background-image: url('/images/fashion3.jpg'); 
 background-repeat: no-repeat;
 background-position: center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.btn {
  margin-top: 5%;
}

.logoText {
  font-family: 'Merkin Goo';
  color: #FF005A;
}

.FrenchLogo {
  height: 70px;
  margin-top: 7%;
  border-radius: 20%;
}

.icon {
  height: 25px;
  margin-top: 18%;
  margin-right: 5%;
}

.homeh4 {
  font-family: 'Merkin Goo';
  color: #41AAF1;
}

.navbar {
  margin-right: 9%;
  margin-left: 9%;
  margin-top: 5%;
}

.bottomLogo {
  height: 70px;
  border-radius: 20%;
  margin: 5px;
}

.breadCrumbs {
  margin-top: 10%;
  margin-left: 5%;
}

a:link {
  margin-right: 15%;
}

.iconBottom {
  height: 25px;
  margin-top: 8%;
  margin-right: 5%;
}

.homeImage {
  width: 100%;
  margin-top: 3%;
}

.welcome {
  color: #41AAF1;
  font-family: 'Youthanasia Italic'
}

div.home .home,
div.products .products,
div.cart .cart,
div.about .about{
  background-color: #FF005A;
  outline:none;
}

.SamplePic {
  height: 300px;
}

hr {
  height: 8px;
  color: red;
}

.section {
  margin: 20px 0px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 0px;
  color: white;
}

.sampleDiv {
  color: white;
}

.productsDiv {
  color: #BDEDFF;
  margin: 3% 0%;
}

.productsPic {
  height: 320px;
  max-width: 300px;
  border-radius: 20%;
  border: 6px outset #FF005A;
}

.productsTitle {
  color: #FF005A;
  font-family: 'Merkin Goo';
  margin-top: 3%;
  
}

.glyphicon {
  margin-left: 8px;
}

.flag {
  height: 17px;
  border-radius: 20%;
  margin-left: 8px;
  margin-bottom: 4px;
}

.companyPhoto {
  height: 300px;
  margin: 20px 120px 20px 10px;
  border: 6px outset white;
  border-radius: 8%; 
}

.about-font {
  color: white;
}

.cart-image {
  height: 150px;
  border-radius: 20%;
}

.cart-example {

  margin-top: 4%;
  background-color: white;
  min-height: 500px;
  padding: 2%;
  border-radius: 10px;
}

#cart {
  border-bottom: 1px solid rgba(7, 6, 8, 0.2);
  padding-bottom: 1%;
}

.cart-name {
  padding-top: 4%;
  font-size: 30px;
  font-family: 'Youthanasia Italic';
  color: #FF005A;

}

.cart-price {
  padding-top: 60px;
  font-size: 22px;
  font-family: 'Youthanasia Italic';
}

.cart-quantity {
  width: 25px;
  padding-left: 7px;
  margin-top: 60px;
  color: black;
}

.x-symbol {
  padding-top: 65px;
}

.first-example {
  padding-bottom: 40px;
  padding-top: 1%;

}

.second-example {
  padding-bottom: 80px;
}

.total {
  border-top: 1px solid rgba(7, 6, 8, 0.2);
  padding-right: 5%;
  padding-bottom: 1%;
  border-bottom: 1px solid rgba(7, 6, 8, 0.2);
  font-family: 'Youthanasia Italic';
  
}

.checkout {
  padding-top: 2%;
  padding-right: 3%;
}

.paypal {
  height: 60px;
}





